* {
    font-size: 60%;
    font-family: 'Baloo Tamma 2', cursive;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.box-container {
    text-align: center;
    margin-top: 4%;
}

.header-text {
    font-size: 3rem;
    text-shadow: 4px 4px rgb(253, 207, 214), -3px -3px rgba(115, 206, 248, 0.418);
}

.main-img {
    width: 20rem;
    height: 10%;
}

.main-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 2% 0;
    text-shadow: 2px -2px rgb(255, 190, 217);
}

.sad-face {
    letter-spacing: 0.2rem;
    font-size: 2.7rem;
}

.main-text {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    padding: 0 5% 0 5%;
}

.btn {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    
    padding: 1rem 5rem;
    margin: 5% 0;
    border: none;
    border-radius: 8px;
    
    outline: none;
    cursor: pointer;
    
    color: rgb(255, 255, 255);
    text-shadow: 1.5px 2px rgb(129, 115, 115);
    
    box-shadow: 4px 4px rgb(202, 180, 187);
    background: rgb(160,220,255);
    background: linear-gradient(90deg, rgba(160,220,255,1) 0%, rgb(227, 151, 231) 36%, rgb(252, 173, 186) 100%);
    transition: 1s;
}

.btn:hover {
    background: rgb(140,213,255);
    background: linear-gradient(90deg, rgba(140,213,255,1) 0%, rgba(251,151,255,1) 82%, rgb(248, 145, 163) 100%);
    box-shadow: 4px 4px rgb(170, 157, 163);
}

.footer-container {
    justify-content: space-around;
    padding-top: 3rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    
    list-style: none;
    padding: 0 0 0.5rem 0 ;
}

.instagram-link {
    color: black;
    margin: 0 1rem;
}

.instagram-img {
    width: 4.5rem;
}

.github-link {
    color: black;
    margin: 0 1rem;
}

.github-img {
    width: 4.5rem;
}

.linkedin-link {
    color: black;
    margin: 0 1rem;
}

.linkedin-img {
    width: 4.5rem;
}

.footer-text {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
}

.heart {
    font-size: 1.2rem;
    color: rgb(238, 121, 183);
}

@media (min-width: 800px) {
    
    .box-container {
        max-width: 100vw;
        max-height: 100vh;
    }

    .header-container {
        text-align: center;
        margin: 0 10% 0 32%;
    }
    
    .header-text {
        font-size: 4rem;
    }

    .main-container {
        display: flex; 
        margin: 0 15% 0 10%;
        justify-content: space-around;
    }

    .main-img {
        width: 35%;
    }

    .main-text-container {
        margin-top: 10%;
    }

    .main-title, .sad-face {
        font-size: 4.5rem;
    }

    .footer-container {
        padding: 0;
        margin: 1% 10% 0 32%;
    }

    .footer-text {
        font-size: 1.7rem;
    }
    
}